<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Flight</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Flight Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="flight" class="form-horizontal">

      <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
          <input type='number' [(ngModel)]="flight.id" id="id" name="id" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="from" class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-10">
          <input [(ngModel)]="flight.from" id="from" name="from" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="to" class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-10">
          <input [(ngModel)]="flight.to" id="to" name="to" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input [(ngModel)]="flight.date" id="date" name="date" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 text-left">
          <button type="button" class="btn btn-primary w-md" (click)="save()">Save</button>
        </div>
        <div class="col-sm-2 text-left">
          <button type="button" class="btn btn-secondary w-md" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
