<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active"><%=model.title%></li>
  </ol>
</nav>
<h2><%=model.title%> List</h2>
<form #f="ngForm">
  <% for (let field of getFilterFields(model)) { %>
  <mat-form-field>
    <mat-label><%=field.label%>:</mat-label>
    <input matInput type="search" [(ngModel)]="filter.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>">
  </mat-form-field>
  <% } %>
  <button mat-mini-fab color="primary" (click)="search()" [disabled]="!f?.valid"><mat-icon>search</mat-icon></button>
  <a mat-mini-fab color="accent" [routerLink]="['../<%=pluralize(name)%>', 'new' ]"><mat-icon>add</mat-icon></a>
</form>
<div *ngIf="<%=camelize(name)%>List.length > 0">
  <!-- todo: figure out better material styling for alerts -->
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <% let id = getId(model); %>
  <table mat-table #table [dataSource]="<%=camelize(name)%>List">
    <% for (let field of model.fields) { %>
    <ng-container matColumnDef="<%=field.name%>">
      <mat-header-cell *matHeaderCellDef> <%=field.label%> </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.<%=field.name%><%=(field.control === 'date')? ' | date': '' %>}} </mat-cell>
    </ng-container>
    <% } %>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../<%=pluralize(name)%>', item.<%=id.name%> ]" mat-raised-button color="primary">Edit</a>&nbsp;
        <button (click)="delete(item)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
