<div class="card">
    <div class="header">
        <h1 class="title">Flight Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="flight">
                
            <div class="form-group">
                <label>Id:</label>
                <input [(ngModel)]="flight.id" name="id" class="form-control">
            </div>
                
            <div class="form-group">
                <label>From:</label>
                <input [(ngModel)]="flight.from" name="from" class="form-control">
            </div>
                
            <div class="form-group">
                <label>To:</label>
                <input [(ngModel)]="flight.to" name="to" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Date:</label>
                <input [(ngModel)]="flight.date" name="date" class="form-control">
            </div>
        
            <div class="form-group">
                <button
                (click)="save()"
                class="btn btn-default">Save</button>
            </div>

        </form>
    
    </div>
</div>